include ../head.pug
- let sectionTitle= ""
include ../nav.pug


body
  div
    .flex-dir-row.full-width
      a.a-btn.btn-submit.a-large-btn.white-background(href= "/products") 
        i.fas.fa-long-arrow-alt-left.next-to-icon  Back to products
    div.full-width.flex-dir-col.hori-col-center.shadow-outline.tb-medium-margin.tb-medium-padding.flex-row-600.start-600.hori-row-center-600.vert-row-center.tb-x-lg-padding-600.white-background
      div.flex-dir-col.hori-col-center.max-50-600
        img.single-img(src=results[0].img, alt="Product image")

      div.full-width.flex-dir-col.hori-col-center.half-width-600.col-start-600
        h3.medium-font.tb-medium-margin.lb-small-margin-600 #{results[0].title}
        h5.small-font.not-bold.small-margin Price: $#{(results[0].price).toFixed(2)}
        h5.small-font.not-bold.small-margin Seller: (name goes here)
        h5.small-font.not-bold.small-margin Remaining inventory: #{results[0].inventory}
        h5.small-font.not-bold.small-margin Available as of: #{results[0].created_at}

        if results[0].created_by === req.session.userId
          .flex-dir-row.hori-row-center.vert-row-center
            a.a-btn.btn-edit.a-x-small-btn.tb-med-lr-small-margin(href= "/products/" + results[0].id + "/edit") 
              i.fas.fa-edit  Edit
            form(action="/products/" + results[0].id +"/delete", method="post" onsubmit="return confirm('Are you sure you want to permanently delete this product?')")
              input(type="hidden", name="productId", value=results[0].id)
              button.tb-med-lr-small-margin.btn.btn-delete.x-small-btn(type="submit")
                i.fas.fa-trash-alt  Delete

        else 
          div.flex-dir-row.full-width.hori-row-center.row-start-600
            form(action="/cart/product/add", method="post")
              input(type="hidden", name="productId", value=results[0].id)
              button.small-margin.btn.btn-submit.large-btn(type="submit")
                i.fas.fa-shopping-cart  Add to Cart

include ../footer.pug