include ../head.pug
- let sectionTitle= "Products"
include ../nav.pug

body
  section.products
    div.flex
      ul.product-options
        li 
          a(href="/products/new") List a New Product
    for result in results
      if result.inventory > 0
        div.product-card
          div.product-img
            img.product-image(src=result.img, alt="Product image")
          div.product-info
            h3
              a(href="/products/" + result.id) #{result.title}
            h4 $#{(result.price).toFixed(2)}
            h5 Only #{result.inventory} left in stock!
            form(action="/cart/product/add", method="post")
              input(type="hidden", name="productId", value=result.id)
              button(type="submit") 
                i.fas.fa-shopping-cart  Add to Cart